<!DOCTYPE html>
<html>
    <head>
        <title>Tenori</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src data: https://kanjiapi.dev 'self'; script-src 'unsafe-inline' 'self'; style-src 'unsafe-inline' 'self'">
        <link rel="stylesheet" href="assets/tenori.css">
        <link rel="stylesheet" href="assets/titlebar.css">
    </head>
    <body>
        <header>
            <div id="window-title">
                <span>Tenori</span>
              </div>
            <div id="drag-region">
                <div id="window-controls">
                    <div class="titlebar-button" id="min-button">
                      <img class="icon" srcset="assets/titlebar_icons/min-w-10.png 1x, assets/titlebar_icons/min-w-12.png 1.25x, assets/titlebar_icons/min-w-15.png 1.5x, assets/titlebar_icons/min-w-15.png 1.75x, assets/titlebar_icons/min-w-20.png 2x, assets/titlebar_icons/min-w-20.png 2.25x, assets/titlebar_icons/min-w-24.png 2.5x, assets/titlebar_icons/min-w-30.png 3x, assets/titlebar_icons/min-w-30.png 3.5x" draggable="false" />
                    </div>
                    <div class="titlebar-button" id="max-button">
                      <img class="icon" srcset="assets/titlebar_icons/max-w-10.png 1x, assets/titlebar_icons/max-w-12.png 1.25x, assets/titlebar_icons/max-w-15.png 1.5x, assets/titlebar_icons/max-w-15.png 1.75x, assets/titlebar_icons/max-w-20.png 2x, assets/titlebar_icons/max-w-20.png 2.25x, assets/titlebar_icons/max-w-24.png 2.5x, assets/titlebar_icons/max-w-30.png 3x, assets/titlebar_icons/max-w-30.png 3.5x" draggable="false" />
                    </div>
                    <div class="titlebar-button hidden" id="restore-button">
                      <img class="icon" srcset="assets/titlebar_icons/restore-w-10.png 1x, assets/titlebar_icons/restore-w-12.png 1.25x, assets/titlebar_icons/restore-w-15.png 1.5x, assets/titlebar_icons/restore-w-15.png 1.75x, assets/titlebar_icons/restore-w-20.png 2x, assets/titlebar_icons/restore-w-20.png 2.25x, assets/titlebar_icons/restore-w-24.png 2.5x, assets/titlebar_icons/restore-w-30.png 3x, assets/titlebar_icons/restore-w-30.png 3.5x" draggable="false" />
                    </div>
                    <div class="titlebar-button" id="close-button">
                      <img class="icon" srcset="assets/titlebar_icons/close-w-10.png 1x, assets/titlebar_icons/close-w-12.png 1.25x, assets/titlebar_icons/close-w-15.png 1.5x, assets/titlebar_icons/close-w-15.png 1.75x, assets/titlebar_icons/close-w-20.png 2x, assets/titlebar_icons/close-w-20.png 2.25x, assets/titlebar_icons/close-w-24.png 2.5x, assets/titlebar_icons/close-w-30.png 3x, assets/titlebar_icons/close-w-30.png 3.5x" draggable="false" />
                    </div>
                  </div>
            </div>
        </header>
        <main>
            <div class="rd-layout-nav">
                <div class="rd-panel rd-panel-nav">
<!--Sidebar-->      <div class="rd-nav-buttons">
                        <button type="button" class="nav-button" id="btn-home" onclick="SwapPage('page-home');"></button>
                        <button type="button" class="nav-button active" id="btn-study" onclick="SwapPage('page-study');"></button>
                        <button type="button" class="nav-button" id="btn-deck-manager" onclick="SwapPage('page-deck-manager');"></button>
                        <button type="button" class="nav-button" id="btn-app-settings" onclick="SwapPage('page-settings');"></button>
                    </div>
                </div>
            </div>
            <div class="rd-layout-main">
                <div class="rd-panel">
<!--Sessions-->     <div data-include="templates/sessions.html"></div>
                    <div data-include="templates/createSession.html"></div>
                    <div data-include="templates/blocks.html"></div>
<!--Pagination-->   <div data-include="templates/pagination.html"></div>
<!--Recap-->        <div data-include="templates/recap.html"></div>
<!--Configurator--> <div data-include="templates/configurator.html"></div>
<!--Deck Mgr-->     <div data-include="templates/manager.html"></div>
<!--Settings-->     <div data-include="templates/settings.html"></div>
<!--Home-->         <div data-include="templates/home.html"></div>
                </div>
            </div>
        </main>
        <script src="scripts/csi.js"></script>
        <script src="scripts/titlebar.js"></script>
        <script src="scripts/rendererUtils.js"></script>
        <script src="scripts/manager.js"></script>
        <script src="scripts/study.js"></script>
        <script src="scripts/studyBlocks.js"></script>
        <script src="scripts/studyConfigurator.js"></script>
        <script src="scripts/studyPagination.js"></script>
        <script src="scripts/studyPicker.js"></script>
        <script src="scripts/studyRecap.js"></script>
        <script src="scripts/navigation.js"></script>
    </body>
</html>
