<div class="rd-content centered hidden" id="page-study-session-blocks" data-preload="StudyBlocksPreload">
    <h1>Study</h1>
    <p>Expand your horizons.</p>
    <div class="content-divider"></div>
    <div class="rd-align-left">
        <p class="rd-content-text">Here's a list of blocks in the currently selected deck. To create a new block, click the plus button.</p>
        <div class="rd-sessions-container" id="study-blocks-container">
            <div class="rd-sessions rd-panel">
                <h1 class="rd-sessions-header">Block 1</h1>
                <p class="rd-sessions-info">Last used 2/22/2023 15:36 | Learning Readings</p>
            </div>
            <div class="rd-sessions rd-panel">
                <h1 class="rd-sessions-header">Block 2</h1>
                <p class="rd-sessions-info">Last used 2/15/2023 03:56 | Studying Meanings</p>
            </div>
            <div class="rd-sessions rd-sessions-create rd-panel" id="rd-blocks-create">
                <div class="rd-sessions-plus"></div>
            </div>
        </div>                      
    </div>
</div>