<div class="rd-content centered hidden" id="page-study-session-blocks" data-preload="StudyBlocksPreload">
    <h1 class="rd-deck-title" id="study-blocks-name">Test Deck</h1>
    <p  class="rd-deck-subtitle" id="study-blocks-author">by Test Author</p>
    <div class="content-divider"></div>
    <div class="rd-align-left">
        <p id="study-blocks-description"></p>
        <p class="rd-content-text">A block is a small piece of a deck that's easy to study. To get started, select a block from the list below.</p>
        <div class="rd-sessions-container" id="study-blocks-container">
            <div class="rd-sessions rd-panel">
                <h1 class="rd-sessions-header">Example</h1>
                <p class="rd-sessions-info">Example</p>
            </div>
        </div>                      
    </div>
</div>