<div class="rd-content centered hidden" id="page-study-config" data-preload="StudyConfigPreload">
    <div class="rd-align-left">
        <h1 class="rd-deck-title" id="study-configurator-name"></h1>
        <p  class="rd-deck-subtitle" id="study-configurator-author"></p>
    </div>
    <div class="content-divider"></div>
    <div class="rd-align-left">
        <p id="study-configurator-description"></p>
    </div>
    <div class="rd-grid-container" id="study-configurator-panels">
        <!--Kanji grid-->
    </div>
    <div class="rd-align-left" style="margin-top: 10px;">
        <button class="rd-button" onclick="StudyForceReset()">I changed my mind.</button>
        <button class="rd-button" onclick="StudySubmitConfigurator()">Let's go!</button>
    </div>
</div>