<div class="rd-content centered hidden" id="page-home" data-button="btn-home">
    <h1>Welcome</h1>
    <p>Thank you for downloading Tenori!</p>
    <div class="content-divider"></div>
    <div class="rd-align-left">
        <p class="rd-content-text">
            Tenori is being created from the ground-up with Japanese learners in mind. By using established methods like active recall, spaced repetition, and mnemonics, it aims to make the process of learning new Kanji easier & more efficient. With Tenori, instead of battling with complicated configuration files and outdated UI, you will be able to focus entirely on your studies.
        </p>
        <ul class="rd-content-text">
            <li>👩‍💻 Keep up with development on <a href="https://github.com/violetfrost/tenori">GitHub</a>!</li>
            <li>🐜 Found a bug? Submit an <a href="https://github.com/violetfrost/tenori/issues">issue</a>.</li>
            <li>✅ Have an idea for a feature? <a href="https://github.com/violetfrost/tenori/pulls">Pull Requests</a> are welcome!</li>
        </ul>    
    </div>
</div>