<div class="rd-content centered hidden" id="page-deck-manager" data-preload="DeckManagerPreload" data-button="btn-deck-manager">
    <h1>Deck Manager</h1>
    <p>Create, import, and export study decks here.</p>
    <div class="content-divider"></div>
    <div class="rd-align-left">
        <h3>Create a Deck</h3>
        <p>Create a deck from any Japanese text, ordered from most to least common kanji.</p>
        <textarea class="textbox-manager" id="mgr-jp-text" placeholder="Paste any Japanese text here..."></textarea>
        <button class="rd-button" onclick="ManagerCreateDeckFromBox()">Create Deck</button>    
    </div>
</div>