<div class="rd-content centered hidden" id="page-study-recap" data-preload="StudyRecapPreload">
    <h1>Recap</h1>
    <div class="content-divider"></div>
    <div class="rd-align-left">
        <p id="study-recap-text"></p>
        <button onclick="StudyReturn()" class="rd-button" id="study-recap-button1"></button>
        <button onclick="StudyContinue()" class="rd-button" id="study-recap-button2"></button>
        <button onclick="StudySwitchModes()" class="rd-button" id="study-recap-button3"></button>    
    </div>
</div>