/*
GLOBALS
*/
*
{
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline; 
    box-sizing: border-box; 
    user-select: none;
}
*:focus-visible {
    box-shadow: 0 0 3pt 2pt #FF9500;
}
*:focus:not(:focus-visible) { box-shadow: none; }
html,body
{
	height:100%;
	margin:0;
    overflow: hidden;
    padding: 0;
    border: 0;
    outline: 0;
}
::-webkit-scrollbar 
{
    width: 10px;
}
::-webkit-scrollbar-track 
{
    margin-block: 5px;
    border-radius: 100vw;
    background: #FFFFFF;
}
::-webkit-scrollbar-thumb 
{
    border-radius: 100vw;
    background: #A0A0A0;
}
::-webkit-scrollbar-thumb:active 
{
    background: #808080;
}
/*
FONTS
*/
@font-face {
    font-family: "Noto Sans";
    src: url('./NotoSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Noto Sans JP";
    src: url('./NotoSansJP-Regular.otf') format('opentype');
}
@font-face {
    font-family: "Noto Sans Bold";
    src: url('./NotoSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: "Noto Sans JP Bold";
    src: url('./NotoSansJP-Bold.otf') format('opentype');
}
/*
TEXT ELEMENTS
*/
h1,h2,h3,h4,h5,h6 
{
    color: #fff;
    font-family: 'Noto Sans Bold', 'Noto Sans JP Bold';
}
p,a,ul,li,label 
{
    color: #fff;
    font-family: 'Noto Sans', 'Noto Sans JP';
}
.rd-align-left 
{
    text-align: left;
}
.rd-align-center 
{
    text-align: center;
}
.rd-align-right 
{
    text-align: right;
}
/*
LAYOUT
*/
.rd-content.centered-vh
{
    align-self:center;
    text-align: center;
}
.rd-content.centered
{
    text-align: center;
}
.rd-layout-nav
{
    width: 90px;
    height: 100%;
    float: left;
    padding: 10px; 
}
.rd-layout-main
{
    width: calc(100% - 90px);
    height: 100%;
    float:right;
    padding: 10px 11px 10px 0px;
}
.rd-content.hidden 
{
    opacity: 0;
    visibility: hidden;
    display: initial;
}
.rd-content.active
{
    opacity: 1;
    visibility: visible;
}
.hidden
{
    display: none;
}
.rd-panel
{ 
    border-radius: 5px;
    height: 100%;
    width: 100%;
    display: grid;
    outline: 1px solid #3e3e3e;
    background-color: #282828E0;
}
.rd-sessions-container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 320px;
}
.rd-panel.rd-sessions {
    padding: 10px;
    height: 100px;
    width: 100%;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    margin: 5px 0px 5px 0px;
    transition: all .1s ease-in;
    transition-property: background-color;
}
.rd-panel.rd-sessions.rd-sessions-create {
    text-align: center;
}
.rd-sessions-plus {
    background-color: #ffffff;
    -webkit-mask: url("./sessions_create.svg") no-repeat center; 
    mask: inherit;
}
.rd-panel.rd-sessions:hover {
    background-color: #3e3e3e;
    transition: all .1s ease-in;
    transition-property: background-color;
}
.rd-grid-container>.rd-panel
{
    padding: 15px;
    display: inline-block;
    overflow: hidden;
}
.rd-grid-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 10px;
}
/*
UI ELEMENTS
AND INPUTS
*/
.rd-grid-container>.rd-panel>.content-divider 
{
    margin-bottom: 5px;
}
.rd-nav-buttons
{
    display: inline-block;
    width: 100%;
}
.rd-layout-nav>.rd-panel>.rd-nav-buttons>button 
{
    width: 90%;
    aspect-ratio: 1/1;
}
.rd-grid-container>.rd-panel>textarea
{
    width: 100%;
    resize: none;
    height: 55px;
}
.rd-grid-container>.rd-panel>select
{
    width: 100%;
}
.rd-content-text {
    margin: 10px 0px 10px 0px;
}
.rd-button {
    border-radius: 100vh;
    color: white;   
    font-family: 'Noto Sans';
    background-color: transparent;
    border: none;
    margin: 5px 5px 5px 0px;
    padding: 0px 10px 0px 10px;
    outline: 2px solid white;
    height: 30px;
    min-width: 100px;
    text-align: center;
    transition: all .1s ease-in;
    transition-property: outline-color, color;
}
.rd-button:hover
{
    color: #A0A0A0;
    outline-color: #A0A0A0;
    transition: all .1s ease-in;
    transition-property: outline-color, color;
}
.rd-button:active 
{
    color: #808080;
    outline-color : #808080;
    transition: all .1s ease-in;
    transition-property: outline-color, color;
}
.nav-button
{
    background-color: #fff;
    transition: background .1s ease-in;
}
.nav-button.active
{
    background-color: #007AFF !important;
}
.nav-button:hover
{
    background-color: #005AFF !important;
    transition: background .1s ease-in;
}
.nav-button:active
{
    background-color: #003AFF !important;
    transition: background .1s ease-in;
}
.nav-button:focus-visible {
    background-color: #FF9500 !important;
}
#btn-home
{
    -webkit-mask: url("./nav_home.svg") no-repeat center;
    mask: inherit;
}
#btn-study
{
    -webkit-mask: url("./nav_study.svg") no-repeat center;
    mask: inherit;
}
#btn-deck-manager
{
    -webkit-mask: url("./nav_deckmgr.svg") no-repeat center;
    mask: inherit;
}
#btn-app-settings
{
    -webkit-mask: url("./nav_settings.svg") no-repeat center;
    mask: inherit;
}

.study-character {
    font-size: 100px;
}

.study-sub {
    font-size: 25px;
    font-family: "Noto Sans", "Noto Sans JP";
    font-weight:normal;
}

.textbox-manager {
    width: 100%;
    height: 250px;
}

.content-divider {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 10px 0px 10px 0px;
}

.rd-panel.rd-panel-nav {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}

.rd-content {
    margin: 0 auto;
    max-width: 600px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    padding: 10px;
    grid-column: 1;
    grid-row: 1;
    -webkit-transition: opacity 0.5s, visibility 0.5s;
    -moz-transition: opacity 0.5s, visibility 0.5s;
    transition: opacity 0.5s, visibility 0.5s;
}

.rd-input {
    background-color: transparent;
    padding: 0px;
    font-size: 16px;
    border-width: 1px;
    border-color: #000000;
    color: #000000;
    border-style: solid;
}

.rd-input.rd-study {
    height: 60px;
    width: 60%;
    text-align: center;
}

.rd-input.rd-study-mnemonics {
    background-color: transparent;
    outline: 2px solid white;
    color: white;
    border: none;
    font-family: "Noto Sans", "Noto Sans JP";
    border-radius: 100vh;
    width: 50%;    
    height: 30px;
    margin: 5px;
    vertical-align: top;
    resize: none;
    text-align: center;
}

.rd-input.rd-study-config {
    width: 100%;
    resize: none;
}

html,body {
    background: linear-gradient(45deg,  #1372A5, #006D64, #7027B5, #252F9E);
    background-size: 600% 100%;
    animation: gradient 120s linear infinite;
    backdrop-filter: blur(50px);
    animation-direction: alternate;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}